$text-xxs: 1rem;
$text-xs: 1.2rem;
$text-sm: 1.4rem;
$text-md: 1.6rem;
$text-lg: 1.8rem;
$text-xl: 2rem;
$text-xxl: 2.4rem;
$heading-sm: 3rem;
$heading-md: 4rem;
$heading-lg: 5rem;
$heading-xl: 6rem;
